.profile__position {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
 }

@media (min-width: 768px) {
  .profile__position {
    font-size: 18px;
    line-height: 22px;
  }
}
